@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

:root {
  --dark: #222831;
  --light-dark: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
  --dark-navy: #001938;
  --light-orange: #ffcc8a;
}

.App {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0;
}

.App .container .sub-container {
  min-height: 90vh;
  background-image: url("../assets/step_12.jpg");
  background-size: cover;
  padding: 3vh;
  position: relative;
}

.App .container .sub-container .header .header-title h2 {
  margin: 2vh 0;
  border-bottom: 2px solid var(--dark);
  font-size: 2.8vw;
  width: 22vw;
}

.App .container .sub-container .header {
  margin: 2vh 0;
  position: relative;
}

.adzanSchedule {
  width: 10vw;
  position: absolute;
  padding-right: 0.5rem;
  right: 0;
  border-right: 2px solid var(--dark);
  background-color: rgba(0, 0, 0, 0.3);
}

.App .schedule {
  padding: 2vw;
  border-radius: 12px;
  width: 10vw;
  height: 9vh;
  color: var(--white);
}

.App .schedule h2 {
  margin: 0;
  font-size: 2vw;
}

.App .schedule .waktu {
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.App .container .sub-container .header .random {
  position: absolute;
  top: 20vh;
  width: 30vw;
  height: auto;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.App .container .sub-container .header .random h2,
.mean {
  margin: 0 0 0.5rem 0;
  color: var(--white);
  font-size: 3vw;
}

.row {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #001938;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 90%;
  min-height: 65vh;
}

.row .navigation {
  margin: 3vh 2vh 2vh 2vh;
  padding: 3vh 3vw 3vh 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  justify-items: center;
}

.row .row-search {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 1.5rem 2rem 1rem 2rem;
  background-color: var(--light-orange);
  height: 15vh;
  border-radius: 45px;
  justify-items: center;
  align-items: center;
  position: relative;
}

.row .row-search:hover {
  color: var(--light-orange);
}

.row .row-search h1 {
  font-size: 3.4vw;
  text-align: center;
  transition: all 0.4s ease;
  padding-top: 1.4rem;
}

.row .row-search .search-content {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 15vh;
  width: 100%;
  border-radius: 45px;
  display: none;
  grid-template-columns: 2fr 2fr 0.7fr;
  grid-gap: 1rem;
  justify-items: center;
  animation: search 0.4s ease;
}

@keyframes search {
  0% {
    opacity: 0;
  }
}

.row .row-search:hover .search-content {
  display: grid;
}

.row .search-content input,
.src-img {
  margin: 1.5rem 1rem 1rem 1rem;
}

.row .search-content input {
  height: 7vh;
  width: 34vw;
  border: 0;
  border-radius: 32px;
  background-color: #f5f5f5;
  font-size: 1rem;
  padding-left: 1rem;
}

.row .search-content .src-img {
  display: block;
  height: 7vh;
  width: 7vh;
  border-radius: 25px;
  cursor: pointer;
}

.row .navigation .item {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: var(--light-dark);
  width: 48vh;
  height: 48vh;
  position: relative;
  border-radius: 12px;
}

.row .navigation .item img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.row .navigation .item .item-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row .navigation .item:hover .item-title {
  display: flex;
  border-radius: 12px;
}

.row .navigation .item .item-title h4 {
  height: 2vw;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  animation: galeryText 0.8s ease;
  cursor: pointer;
}

@keyframes galeryText {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@media only screen and (max-width: 640px) {
  .App .container .sub-container {
    min-height: 65vh;
    background-image: url("../assets/step_12.jpg");
    background-size: cover;
    padding: 3vh;
    position: relative;
  }

  .App .container .sub-container .header .header-title h2 {
    margin: 2vh 0;
    font-size: 5.7vw;
    width: 44vw;
  }

  .App .container .sub-container .header {
    margin: 2vh 0;
    position: relative;
  }

  .adzanSchedule {
    width: 20vw;
    height: 79vw;
    position: absolute;
    right: 0;
    border-right: 2px solid var(--dark);
    word-wrap: normal;
  }

  .App .schedule {
    padding: 0.5rem;
    border-radius: 12px;
    width: 16vw;
    height: 11vw;
    color: var(--white);
  }

  .App .schedule h2 {
    margin: 0;
    font-size: 4vw;
  }

  .App .schedule .waktu {
    margin: 0;
    padding: 0;
    font-size: 3.8vw;
  }

  .App .container .sub-container .header .random {
    position: absolute;
    top: 20vh;
    width: 30vw;
    height: auto;
    word-wrap: break-word;
  }
  .App .container .sub-container .header .random h2,
  .mean {
    margin: 0;
    color: var(--white);
    font-size: 4vw;
  }

  .row {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #001938;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 65%;
    min-height: 45vh;
  }

  .row .row-search {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 1.5rem 2rem 1rem 2rem;
    background-color: var(--light-orange);
    height: 7vh;
    border-radius: 45px;
    justify-items: center;
    align-items: center;
    position: relative;
  }

  .row .row-search:hover {
    color: var(--light-orange);
  }

  .row .row-search h1 {
    text-align: center;
    transition: all 0.4s ease;
    padding-top: 0.7rem;
    font-size: 4vw;
  }

  .row .row-search .search-content {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 100%;
    border-radius: 45px;
    display: none;
    grid-template-columns: 1fr 1fr 0.4fr;
    grid-gap: 0.2rem;
    justify-items: center;
    animation: search 0.4s ease;
  }

  @keyframes search {
    0% {
      opacity: 0;
    }
  }

  .row .row-search:hover .search-content {
    top: 0;
    display: grid;
  }

  .row .search-content input,
  .src-img {
    margin: 0.59rem 0.5rem 2rem 0.5rem;
  }

  .row .search-content input {
    height: 4vh;
    width: 26vw;
    border: 0;
    border-radius: 12px;
    background-color: #f5f5f5;
    font-size: 0.7rem;
    padding-left: 0.5rem;
  }

  .row .search-content .src-img {
    display: block;
    height: 4vh;
    width: 4vh;
    border-radius: 25px;
  }

  .row .navigation {
    margin: 1vh 2vh 2vh 2vh;
    padding: 3vh 3vw 3vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    justify-items: center;
  }

  .row .navigation .item {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--light-dark);
    width: 33vw;
    height: 33vw;
    position: relative;
    border-radius: 12px;
  }

  .row .navigation .item img {
    display: block;
    width: 100%;
    border-radius: 12px;
  }

  .row .navigation .item .item-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .row .navigation .item:hover .item-title {
    display: flex;
    border-radius: 12px;
  }

  .row .navigation .item .item-title h4 {
    height: 1vw;
    width: auto;
    font-size: 3vw;
    font-weight: 700;
    color: var(--white);
    animation: galeryText 0.8s ease;
    cursor: pointer;
  }
}
