@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url(//db.onlinewebfonts.com/c/f4c0d87f5d87871985ef7c13105fd688?family=Quran + Standard);

:root {
  --dark: #222831;
  --light-dark: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
  --dark-navy: #001938;
  --light-orange: #ffcc8a;
}

.search-page {
  margin: 0;
  background-color: var(--dark-navy);
  min-height: 100vh;
  display: flex;
  /* cenering horizontally */
  justify-content: center;
  /* cenering vertically */
  align-items: center;
  width: 100%;
}

.search-page .container {
  margin: 0;
  padding: 4vw;
  width: 100%;
}

.search-page .container .content {
  background-color: var(--light-orange);
  border-radius: 20px;
  width: 100%;
}

.search-page .container .content .question {
  background-color: rgba(0, 0, 0, 0.5);
  height: 12vw;
  padding: 3vw;
  align-content: center;
}

.search-page .container .content .question p {
  color: var(--light-orange);
  padding: 3vw;
  font-size: 4vw;
}

.search-page .container .content .search-result {
  margin: 0;
  padding: 2rem;
  font-size: 5vw;
}

.search-page .container .content .ayat {
  font-family: "Amiri";
  font-size: 6vw;
}

.search-page .container .content .search-result small {
  border: 2px solid black;
  padding: 0.2rem;
  width: 3vw;
  border-radius: 25px;
  font-size: 4vw;
}
