@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

:root {
  --dark: #222831;
  --light-dark: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
  --dark-navy: #001938;
  --light-orange: #ffefbe;
}

.surah-container {
  margin: 0;
  background-color: var(--dark-navy);
  min-height: 100vh;
  padding: 1rem;
}

.surah-container .container {
  margin: 0;
  min-height: 100vh;
}

.surah-container .container .list-surah {
  margin-top: 1rem;
  background-color: var(--light-orange);
  padding: 1rem;
  min-height: 100vh;
  border-radius: 12px;
}

.surah-container .container .list-surah .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-orange);
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

.surah-container .container .list-surah .title h4 {
  font-family: "Amiri";
  margin: 1rem 1rem;
}

.surah-container .container .list-surah .head-table {
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-orange);
  padding: 3vw;
  height: 6.7vw;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.surah-container .container .list-surah .head-table input {
  border: 0;
  background-color: var(--light-orange);
  height: 5vw;
  width: 100%;
  padding: 1vw;
  font-size: 2vw;
  border-radius: 12px;
}

.surah-container .container .list-surah .loader {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid var(--light-dark);
  border-top: 13px solid var(--light-orange);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.surah-container .container .list-surah .surah {
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4vw;
  height: 15vw;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  flex-wrap: wrap;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  align-items: center;
}

.surah-container .container .list-surah .surah .per-surah {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  align-items: center;
}

.surah-container .container .list-surah .surah h4 {
  font-family: "Amiri";
  font-size: 2.5vw;
  margin: 0;
  color: var(--dark);
}

.surah-container .container .list-surah .surah .nomor {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  margin: 0;
  color: var(--dark);
}

.surah-container .container .list-surah .audio {
  padding: 1.5vw;
  width: 80%;
  height: 5vw;
  border-radius: 25px;
  color: var(--light-orange);
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
}

.surah-container .container .list-surah .audio:hover {
  background-color: var(--light-orange);
}
.surah-container .container .list-surah .audio .icon {
  width: 10vw;
  height: 5vw;
  border-radius: 25px;
  color: var(--light-orange);
  transition: all 0.4s ease;
}

.surah-container .container .list-surah .audio .icon:hover {
  color: var(--light-dark);
  transform: translateX(2vw);
}

@media only screen and (min-width: 300px) and (max-width: 840px) {
  .surah-container .container .list-surah .surah {
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4vw;
    height: 22vw;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    align-items: center;
  }

  .surah-container .container .list-surah .title h4 {
    font-family: "Amiri";
    margin: 1rem 1rem;
    font-size: 5vw;
  }

  .surah-container .container .list-surah .head-table h4 {
    font-size: 2.5vw;
  }

  .surah-container .container .list-surah .surah h4 {
    font-size: 2.5vw;
  }

  .surah-container .container .list-surah .surah .nomor {
    font-size: 2.5vw;
  }
}
